{% extends "layout.html" %}
{% block body_content %}


        <form method='POST' action=''>
            <div class='form'>
            {{ form.hidden_tag() }}
            </div>
            <div class='form' align="center">
            {{ form.goalkeeper.label }}
            {{ form.goalkeeper }}
            <div  class="error">
            {% for errors in form.goalkeeper.errors %}
            <span>{{ error }}</span>
            {% endfor %}
           </div> 
           </div>      
      <br> <div class='form'>
            {{ form.hidden_tag() }}
            <div class='form'>             
            {{ form.defender.label }}
            {{ form.defender }}
            <div  class="error">
            {% for errors in form.defender.errors %} 
            <span>{{ error }}</span>
            {% endfor %}
            </div> </div>
     <br>   {{ form.hidden_tag() }}
            <div class='form'>
            {{ form.midfielder.label }}
            {{ form.midfielder }}
            <div  class="error">
            {% for errors in form.midfielder.errors %} 
            <span>{{ error }}</span>
            {% endfor %}
            </div> </div>
    <br>    {{ form.hidden_tag() }}
            <div class='form'>
            {{ form.forward.label }}
            {{ form.forward }}
            <div  class="error">
            {% for errors in form.forward.errors %} 
            <span>{{ error }}</span>
            {% endfor %}
            </div>
           <div
            </div>
           
        <br> <div class='form' align="center">
            {{ form.submit }}
        </form>

    </div>


{% endblock %}




